:root {
    --company-red: #e60012;
    --company-dark-red: #9b1822;
    --company-black: #221815;
    --company-white: #ffffff;

    --company-font-size: 30px;
    --regular-text-size: 17px;
}

/*-----Website Header-----*/
#website-header {
    display: flex;
    justify-content: center;

    background-color: var(--company-dark-red);
}

#company-header-name p {
    color: var(--company-white);
    font-family:monospace;
    font-size: var(--company-font-size);
    text-align: right;

    margin-top: 0px;
    margin-bottom: 0px;
}

#header-divider {
    display: inline-block;
    position: relative;
    background-color: var(--company-red);

    /*--fixed positions, not dynamic--*/
    left: 15px;
    top: 25px;
    width: 2px;
    height: 100px;
}

/*-----Product List-----*/
#product-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

#product-list div {
    display: inline-block;
}

#product-list div p {
    width: 0;
    min-width: 100%;
    font-size: var(--regular-text-size)
}

/*-----Website Divider-----*/
.website-divider {
    display: inline-block;
    position: relative;
    background-color: var(--company-dark-red);
    
    left: 25%;
    height: 15px;
    width: 50%;
}

/*-----Company Overview-----*/
#overview-vision-mission {
    display: flex;
    justify-content: center;
}

#overview, #vision-mission {
    display: inline-block;
    width: 40%;
}

#overview {
    margin-right: 30px;
}

#vision-mission {
    margin-left: 30px;
}

#overview p, #vision-mission p, #vision-mission li {
    width: 0;
    min-width: 100%;
    font-size: var(--regular-text-size);
}

/*-----Core Values-----*/
#core-values {
    display: flex;
    justify-content: space-evenly;
}

#core-values div {
    display: inline-block;
    width: 20%;
}

#core-values div p {
    width: 0;
    min-width: 100%;
    font-size: var(--regular-text-size);
}

/*-----Company Organization and Executives-----*/
#left-media-column, #right-media-column {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    column-gap: 20px;
}

#left-media-column div, #right-media-column div {
    width: 240px;
    height: 240px;
}

#middle-media-column {
    justify-content: center;
    margin-left: 20px;
}

#top-middle-column, #bottom-middle-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#bottom-middle-extra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

#top-middle-column div, #bottom-middle-column div, #bottom-middle-extra div {
    width: 230px;
    height: 230px;
}

#organization-chart {
    margin-bottom: 98px;
}

/*-----Utility Styling-----*/
.center-text {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}